nav {
  display: flex;
  justify-content: space-round;
  align-items: 10vh;
  min-height: 10vh;
  background: rgb(3, 255, 234);
  color: black;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.childcomps {
  display: flex;
  justify-content: space-around;
  align-items: 15vh;
  min-height: 10vh;
  background: rgb(198, 244, 252);
  color: black;
}
